<settings>
	<category name="Design" icon="">
		<page name="Colors">
			<attribute name="backgroundColor" desc="" type="color" value="255,255,255,255" />
		</page>
	</category>
	<category name="Userinterface" icon="">
		<page name="Cursor">
			<attribute name="cursorSize" desc="" type="int" value="4500" min="20" max="4500" />
			<attribute name="cursorPickboxSize" desc="" type="int" value="2" min="2" max="20" />
		</page>
		<page name="Snap">
			<attribute name="fangIndikatorSize" desc="" type="int" value="10" min="5" max="15" />
		</page>
	</category>
</settings>

