CalculatingLineEdit {
    background-color: rgb(38, 38, 38);
    border: 1px solid rgb(71, 71, 71);
    border-radius: 3px;
    font-size: 12pt;
    color: rgb(165, 165, 165);
    padding-right: 10px;
}
