QWidget {
    background-color: rgb(55, 55, 55);
}

QToolButton {
    border: 0;
    border-left: 1px solid rgb(132, 132, 132);
    border-bottom: 1px solid rgb(132, 132, 132);
    border-radius: 0px;
}

QToolButton#first-column {
    border-left: 0;
}

QToolButton#last-row {
    border-bottom: 0;
}

QToolButton#first-column-last-row {
    border-left: 0;
    border-bottom: 0;
}

ExpandableToolButton {
    margin: 0;
    border: 1px solid rgb(255, 255, 255);
}
